%h2 Edit Movie

= form_tag movie_path(@movie), method: :put do
  = render partial: 'movie_form'
  %br
  %br
  = submit_tag 'Save Changes'
  = link_to "Cancel", movie_path(@movie), confirm: 'Are you sure you want to cancel?'