%h2 All Movies

%table#movies
  %thead
    %tr
      %th #
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
      %th Actions
  %tbody
    = render partial: 'movie', collection: @movies

= link_to "Add new movie", new_movie_path